<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjiangxian.bd.dao.MaterialMapper" >
  <resultMap id="BaseResultMap" type="com.linjiangxian.bd.bean.Material" >
    <!-- 返回结果字段 -->
    <id column="FID" property="id" jdbcType="VARCHAR" />
    <result column="FNUMBER" property="number" jdbcType="VARCHAR" />
    <result column="FNAME" property="name" jdbcType="VARCHAR" />
    <result column="FPRICE" property="price" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!-- sql片段where -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!-- -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!-- 查询 列-->
    FID, FNAME,FNUMBER,FPRICE
  </sql>
  
  <!-- 分页查询 -->
  <select id="findByPagination" resultMap="BaseResultMap" parameterType="com.linjiangxian.bd.bean.MaterialGetRequest" >
    select T.FID,T.FNAME,T.FNUMBER,T.FPRICE
    from t_bd_material T
    <if test="_parameter != null" >
	    <where >
		    	<if test="name!=null and name!='' ">
		    	and T.FNAME like '%${name}%'
		    	</if>
		    	<if test="priceFrom!=null and priceFrom!='' ">
		    	and T.FPRICE &gt;= #{priceFrom}
		    	</if>
		    	<if test="priceEnd!=null and priceEnd!='' ">
		    	and T.FPRICE &lt;= #{priceEnd}
		    	</if>
		    	<if test="number!=null and number!='' ">
		    	and T.fnumber like '%${number}%'
		    	</if>
	    </where>
    </if>
    <if test="orderByClause != null">
     ORDER BY ${orderByClause} ${orderBySort}
    </if>
    <if test="orderByClause != null and orderByClause != ''">
     LIMIT ${numStart},${numEnd}
    </if>
    
  </select>
  
  <insert id="insert" parameterType="com.linjiangxian.bd.bean.Material" >
    insert into t_bd_material (FID, FNUMBER,FNAME,FPRICE)
    values (#{id,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{name,jdbcType=DECIMAL})
  </insert>
  
  <delete id="deleteByExample" parameterType="com.linjiangxian.bd.bean.Material">
    delete from t_bd_material where fnumber=#{number,jdbcType=VARCHAR}
  </delete>
  
  
  <update id="updateByExample" parameterType="com.linjiangxian.bd.bean.Material" >
    update t_bd_material set 
      FNAME = #{name,jdbcType=VARCHAR}
   where id=#{id,jdbcType=VARCHAR}
  </update>
  
</mapper>